.container {
    position: fixed;
    top: 0 ;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
}

label {
    color: white;
}

.grip-dot {
    /* color: rgba(255,255,255,.87); */
    background-color: azure;
    width: 24px;
    height: 24px;
}